.main-content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #000000;
    padding: 1rem;
}

.main-content-inner {
    max-width: 56rem;
}

.title {
    font-size: 2.75rem;
    letter-spacing: -0.025em;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 1.25rem; 
    margin-bottom: 2rem;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.logo {
  font-weight: 800;
  font-size: 3.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh; 
}




